@import "./Components/Styles/NavbarStyles.css";
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */

/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input.focusClearanceFields:focus-visible,
textarea.focusClearanceFields:focus-visible {
  outline: none;
  border-bottom: 2px solid #2684FF !important;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

input.focusClearanceFields::placeholder,
textarea.focusClearanceFields::placeholder, .css-1jqq78o-placeholder {
  font-size: 14px;
  font-weight: 400;
}

/* To Show * sign as required field */
div.required::after {
  color: red;
  content: '  *';
  display: inline;
  font-size: large;
  position: relative;
  top: -5px;
}

.customError {
  float: right;
  margin-Right: 6px;
  margin-Top: -30px;
  position: relative;
  z-Index: 2;
  color: red;
}

.did-floating-select .css-13cymwt-control,
.did-floating-select .css-t3ipsp-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  border-radius: 0px;
  box-shadow: none !important;
}

.css-13cymwt-control:hover {
  border: none !important;
  border-bottom: 1px solid hsl(0, 0%, 70%) !important;
  border-radius: 0px !important;
}

